= link_to destroy_end_user_session_path, method: :delete, class: 'btn btn-default pull-right' do
  %i.icon-signout
  Sign Out

= render 'users/form'

- content_for :sidebar do
  %h3 Following Users
  %ul.list-group.users
    - @users.each do |u|
      %li.list-group-item
        %i.icon-user
        = u.username
        = link_to 'Unfollow', u, method: :delete, confirm: "Are you sure you want to stop following \"#{u.username}\""

%h3 Timeline
- @posts.each do |p|
  = render "posts/post", post: p

