.image
  %i.main-icon.icon-comments-alt
.text
  .l1
    %strong= post.user
    .pull-right= post.created_at_date
  .l2
    = raw post.text
  - if post.parent_object
    .response
      .image
        %i.main-icon.icon-quote-left
      .text
        - parent_text = post.parent_object.text || post.parent_object.title
        = raw truncate(parent_text, length: 300) if parent_text

.link.pull-right
  = link_to post.url, target: '_blank' do
    %i.icon-globe
    View on HackerNews
    = post.parent_title

.clear